main{
  width: 600px;
  background: aliceblue;
  padding: 1em;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
}

section{
  text-align: center;
}

section img{
  margin: 0 auto;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container div{
  text-align: center;
  flex: 0 0 200px;
}

.container div img{
  margin: 0 auto;
}

hr{
  flex: 1 1 600px;
}